<div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Buenos Aires</h5>
      <p class="card-text">¡¡Alquileres de Autos en Buenos A!!</p>
      <a href="https://www.despegar.com.ar/autos/c-bue/alquiler-de-autos-en-buenos%2Baires" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Catamarca</h5>
      <p class="card-text">¡¡Alquileres de Autos en Catamar!!</p>
      <a href="https://www.hertz.com.ar/elegi-tu-auto?customPromotionId&dateFrom=29-09-2022&dateTo=30-09-2022&dropOffEndpoint=hertz&dropOffId=1127&hourFrom=14%3A15&hourTo=14%3A15&ilimitedKm=true&onlyFullAvailability=true&pickUpEndpoint=hertz&pickUpId=1127&promotionCode&promotions=89" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chaco</h5>
      <p class="card-text">¡¡Alquileres de Autos en Chaco!!</p>
      <a href="https://www.rentalcars.com/search-results?aceid=&adposition=&affiliateCode=google&feeditemid=&gclid=CjwKCAjwhNWZBhB_EiwAPzlhNqwqnqFUEO_yelYSWeJVzkDIrpfIX0sWaEimwx1aEi_YdPzTllg11hoCHWQQAvD_BwE&label=generic-as1eSn32h07SLejhQynDUQS282218697009&loc_interest_ms=&loc_physical_ms=20020&ppc_device=c&ppc_devicemodel=&ppc_network=g&ppc_param1=&ppc_param2=&ppc_placement=&ppc_target=&ppc_targetid=kwd-11868409363&preflang=es&ws=&location=41068&dropLocation=41068&locationName=Resistencia&dropLocationName=Resistencia&coordinates=-27.450000762939453%2C-58.983299255371094&dropCoordinates=-27.450000762939453%2C-58.983299255371094&driversAge=30&puDay=4&puMonth=10&puYear=2022&puMinute=0&puHour=10&doDay=7&doMonth=10&doYear=2022&doMinute=0&doHour=10&ftsType=C&dropFtsType=C" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chubut</h5>
      <p class="card-text">¡¡Alquileres de Autos en Chubut!!</p>
      <a href="https://www.hertz.com.ar/alquiler-de-autos-en-argentina/alquiler-de-autos-en-aeropuerto-de-trelew" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cordoba</h5>
      <p class="card-text">¡¡Alquileres de Autos en Cordoba!!</p>
      <a href="https://www.kayak.com/cars/Cordoba,Argentina-c10439/2022-10-02-10h/2022-10-09-10h;map?sort=rank_a" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Corrientes</h5>
      <p class="card-text">¡¡Alquileres de Autos en Corrientes!!</p>
      <a href="https://www.kayak.com/Cheap-Corrientes-Car-Rentals.7827.cars.ksp?r9ck=iq&gclid=Cj0KCQjwy5maBhDdARIsAMxrkw12QZSmCyLz98pl6S973G11XHtTEwB7Ze2wUy-M-ht0mvYYR1EjdS4aAjwZEALw_wcB" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Entre Rios</h5>
      <p class="card-text">¡¡Alquileres de Autos en Entre Rios!!</p>
      <a href="https://viajarrac.com.ar/" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Formosa</h5>
      <p class="card-text">¡¡Alquileres de Autos en Formosa!!</p>
      <a href="https://www.rentalcars.com/es/city/ar/formosa/?affiliateCode=google&preflang=es&label=formosa-kIPlu0tFeWeGr52xsenhPgS147213453315&ws=&ppc_placement=&ppc_target=&ppc_param1=&ppc_param2=&aceid=&adposition=&ppc_network=g&feeditemid=&ppc_targetid=kwd-35466304717&loc_physical_ms=20020&loc_interest_ms=&ppc_device=c&ppc_devicemodel=&gclid=Cj0KCQjwy5maBhDdARIsAMxrkw3MFrLBPJxZn35GQvI1rNSFbijy4lApzlSudmrd7DqTSM_zpAyy8vcaAlu9EALw_wcB" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jujuy</h5>
      <p class="card-text">¡¡Alquileres de Autos en Jujuy!!</p>
      <a href="https://www.kayak.com/cars/Jujuy,Argentina-c44555/2022-10-02-10h/2022-10-09-10h;map?sort=rank_a" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">La Pampa</h5>
      <p class="card-text">¡¡Alquileres de Autos en La Pampa!!</p>
      <a href="http://hycrentacar.com.ar/" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">La Rioja</h5>
      <p class="card-text">¡¡Alquileres de Autos en La Rioja!!</p>
      <a href="https://es.bookingcar-usa.com/argentina/la_rioja/downtown?utm_source=google&utm_medium=cpc&utm_campaign=18254849897&utm_content=&utm_term=&utm_promo=5&gclid=Cj0KCQjwy5maBhDdARIsAMxrkw3gKTSEuCMKCfpKMQmGEUSe9iQ4kwSgrtvmyzMZJcZ2aiBB36f3JfEaAr0mEALw_wcB" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mendoza</h5>
      <p class="card-text">¡¡Alquileres de Autos en Mendoza!!</p>
      <a href="https://www.despegar.com.ar/autos/c-mdz/alquiler-de-autos-en-mendoza" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Misiones</h5>
      <p class="card-text">¡¡Alquileres de Autos en Misiones!!</p>
      <a href="https://www.kayak.com/cars/Puerto-Iguazu,Argentina-c47536/2022-10-02-10h/2022-10-09-10h;map?sort=rank_a" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Neuquen</h5>
      <p class="card-text">¡¡Alquileres de Autos en Neuquen!!</p>
      <a href="https://www.kayak.com/cars/Neuquen,Neuquen,Argentina-c4995/2022-10-02-10h/2022-10-09-10h;map?sort=rank_a" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rio Negro</h5>
      <p class="card-text">¡¡Alquileres de Autos en Rio Negro!!</p>
      <a href="https://www.despegar.com.ar/autos/c-brc/alquiler-de-autos-en-san%2Bcarlos%2Bde%2Bbariloche" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Salta</h5>
      <p class="card-text">¡¡Alquileres de Autos en Salta!!</p>
      <a href="https://www.despegar.com.ar/autos/c-sla/alquiler-de-autos-en-salta" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">San Juan</h5>
      <p class="card-text">¡¡Alquileres de Autos en San Juan!!</p>
      <a href="https://www.kayak.com/cars/San-Juan,Argentina-c14019/2022-10-02-10h/2022-10-09-10h;map?sort=rank_a" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">San Luis</h5>
      <p class="card-text">¡¡Alquileres de Autos en San Luis!!</p>
      <a href="https://www.kayak.com/cars/San-Luis,Argentina-c54340/2022-10-02-10h/2022-10-09-10h;map?sort=rank_a" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Santa Cruz</h5>
      <p class="card-text">¡¡Alquileres de Autos en Santa Cruz!!</p>
      <a href="https://www.despegar.com.ar/cars/shop/city/FTE/2022-11-17T11:00/city/FTE/2022-11-24T11:00?reSearch=true" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Santiago del Estero</h5>
      <p class="card-text">¡¡Alquileres de Autos en Santiago del Estero!!</p>
      <a href="#" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tierra del Fuego</h5>
      <p class="card-text">¡¡Alquileres de Autos en Tierra del Fuego!!</p>
      <a href="https://www.kayak.com/cars/Ushuaia,Argentina-c9100/2022-10-02-10h/2022-10-09-10h;map?sort=rank_a" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tucuman</h5>
      <p class="card-text">¡¡Alquileres de Autos en Tucuman!!</p>
      <a href="https://www.despegar.com.ar/autos/c-tuc/alquiler-de-autos-en-san%2Bmiguel%2Bde%2Btucuman" class="btn btn-dark">Autos</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_23746019d91c48e9a1114ffe068df5a6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Santa Fe</h5>
      <p class="card-text">¡¡Alquileres de Autos en Santa Fe!!</p>
      <a href="https://www.rentalcars.com/search-results?aceid=&adposition=&affiliateCode=google&feeditemid=&gclid=CjwKCAjwhNWZBhB_EiwAPzlhNkVorVXFZy_IGh6D96DnxEhD_fNGUbzUAkZ99c1eSGM3-ZZZJfvhMRoCpLIQAvD_BwE&label=santa-fe-_Ku8WZfHNW8*6D3fvYfj3QS147213607416&loc_interest_ms=&loc_physical_ms=20020&ppc_device=c&ppc_devicemodel=&ppc_network=g&ppc_param1=&ppc_param2=&ppc_placement=&ppc_target=&ppc_targetid=kwd-17173774773&preflang=es&ws=&location=156&dropLocation=156&locationName=Rosario&dropLocationName=Rosario&coordinates=-32.9453010559082%2C-60.63779830932617&dropCoordinates=-32.9453010559082%2C-60.63779830932617&driversAge=30&puDay=4&puMonth=10&puYear=2022&puMinute=0&puHour=10&doDay=7&doMonth=10&doYear=2022&doMinute=0&doHour=10&ftsType=C&dropFtsType=C" class="btn btn-dark">Autos</a>
    </div>
  </div>